@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    transition: all 0.3s;
    background: white;
}

.logo {
    display: flex;
    align-items: center;
}

.navigator {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 18px;
    background: white;
    box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.09);
    transition: all 0.3s;
}

.container {
    margin: 0 auto;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.logo h1 {
    margin-left: 30px;
    transition: all 0.5s;
}

.logo b {
    color: #7AA444;
}
span {
    color: #222;
}
.loh  {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16.7862px;
    margin-right: 30px;
    text-decoration: none;
    color: #222;
}

.form input{
    display: block;
    margin-top: 44px;
    background: inherit;
    border: 3px solid #57C324;
    padding: 26px 0 26px 32px;
    font-family: inherit;
    border-radius: 19px;
    width: 400px;
    font-weight: bold;
    outline: none;
    transition: all 0.3s;
}

.form .btn {
    margin-top: 44px;
    border: none;
    padding: 13px 38px;
    border-radius: 19px;
    background: #363636;
    color: white;
    transition: background 0.2s;
    font-family: inherit;
    font-weight: bold;
    transition: all 0.5s;
}

.form .btn:hover {
    cursor: pointer;
    background: #57C324;
}   


.input-error-animation {
    animation-name: error;
    animation-duration: 1.5s;
}

@keyframes error {
    0% {

    }

    50% {
        border: 3px solid red;
    }

    100% {

    }
}

.theme {
    transition: all 0.3s;
}

.theme-changer {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 60px;
    height: 23px;
    border-radius: 11px;
    background: #222;
    box-shadow: 4px 4px 14px 4px rgba(0, 0, 0, 0.117);
}

.theme-btn {
    cursor: pointer;
    position: absolute;
    top: 4px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    transition: all 0.4s;
}

.theme-black {
    color: white;
}

.theme-black-block {
    left: 37px;
    background: #222;
}

.theme-change{
    background: white;
}

.status {
    margin-top: 30px;
    text-align: center;
}
.green {
    color: #7AA444;
}

.error {
    color: rgb(217, 38, 38);
}

.imgS {
    margin-top: 20px;
}

.footer {
    margin-top: 20px;
}
.footer a{
    text-decoration: none;
    color: #575757;
    font-weight: 700;
}

@media (max-width: 740px) {
  .logo img{
    width: 50px;
  } 

  .logo h1 {
    font-size: 20px;
    margin-left: 15px;
  }

  .text {
    font-size: 25px;
  }

  .form input{
     width: 230px;
     padding: 16px 13px;
     margin-top: 26px;
     border-radius: 15px;
     font-size: 10px;
     outline: none;
   }

   .form .btn {
    margin-top: 26px;
    padding: 8px 12px;
    border-radius: 11px;
    font-weight: 500;
    font-size: 10px;
   }
  
    .footer {
    font-size: 10px;
   }
}
 